/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: 'BlackFit';
  font-style: normal;
  font-weight: 400;
  src: url('../font/YoonBlackFit77.woff') format('woff');
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf");
}

body {
  font-family: 'BlackFit', serif;
  background: rgb(254, 254, 254);
  background: linear-gradient(135deg, rgba(254, 254, 254, 1) 0%, rgba(228, 229, 230, 1) 100%);
}

form {
  font-family: 'SF Mono';
  text-align: start;
}

.tp {
  opacity: 0;
}

.centre {
  height: 100vh;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}